permalink: /en/documentation/cli-phr/
---
<h1 id="main">Command Line Reference</h1>

<p>Phrozn executable <code>phr</code> comes with extensive documentation by itself. When in doubt:</p>
<pre class="no-highlight">
    <span class="variable">$</span> <span class="command">phr help</span>
    usage: phrozn &lt;command&gt; [options] [args]
    
    Type 'phrozn help &lt;command&gt;' for help on a specific command.
    Type 'phrozn ? help' for help on using help.
    Type 'phrozn --version' to see the program version and installed plugins.
</pre>

<p class="note">You can use <code>phr</code> and <code>phrozn</code> executables interchangeably. Personally, I prefer much shorter <code>phr</code> alternative.</p>

<h2 id="help">phr help</h2>
<p>To get help reference on particular command use <code>phr help &lt;command&gt;</code> or <code>phr ? &lt;command&gt;</code></p>

<p>So to get help on using <code>help</code> command:</p>
<pre class="bash">
    <span class="variable">$</span> <span class="command">phr</span> ? <span class="command">help</span>
</pre>

<h2 id="phr-init">phr init</h2>
<p>This command is used to initialize your Phrozn project. It creates all necessary folder structure and config files:</p>
<pre class="no-highlight">
    <span class="variable">$</span> <span class="command">mkdir</span> my-phrozn-project
    <span class="variable">$</span> <span class="command">cd</span> my-phrozn-project
    <span class="variable">$</span> <span class="command">phr init</span> 
</pre>
<p>Or you can specify project directory explicitly:</p>
<pre class="no-highlight">
    <span class="variable">$</span> <span class="command">mkdir</span> my-phrozn-project
    <span class="variable">$</span> <span class="command">phr init</span> my-phrozn-project
</pre>

<p>As you see, if project directory not specified current one is assumed.</p>

<p>For further info use:</p>
<pre class="no-highlight">
    <span class="variable">$</span> <span class="command">phr</span> ? <span class="command">init</span>
</pre>

<h2 id="phr-up">phr update</h2>
<p>
Phrozn update command is used to create/update static site representation of your project. By far, this command is
the one you will invoke most often.
</p>
<p><code>phr up</code> accepts two arguments: the first one is input directory containing Phrozn project, and the second one
is output directory. However, since both arguments default to current working directory, you generally omit them
altogether:</p>
<pre>
    <span class="variable">$</span> <span class="command">cd</span> my-phrozn-project
    <span class="variable">$</span> <span class="command">phr up</span>
</pre>

<p>For further info use:</p>
<pre class="no-highlight">
    <span class="variable">$</span> <span class="command">phr</span> ? <span class="command">up</span>
</pre>

<h2 id="phr-clobber">phr clobber</h2>
<p>
This command locates and removes Phrozn project directory, effectively deleting all user generated content.
</p>
<pre>
    $ <span class="command">cd</span> my-phrozn-project
    $ <span class="command">phr clobber</span>
</pre>

<p>
You can manually simulate the clobber command by removing project directory <code>.phrozn</code>
</p>
<p class="warning">USE WITH CAUTION!! Once you purge the project, all changes are lost (albeit they are preserved in
repo).</p>
<p>For further info use</p> 
<pre>
    <span class="variable">$</span> <span class="command">phr</span> ? <span class="command">clobber</span>
</pre>

