permalink: /en/changelogs/
---
<h1 id="main">ChangeLogs</h1>
<p>To keep track on what has been introduced and when, below is a brief summary of version to version changes.
</p>

<h2 id="ver-0.2">ver 0.2</h2>
<div style="float:right"><i>30 June, 2011</i></div>
<ul>
    <li><a href="http://www.phrozn.info/en/documentation/providers/">Content Providers</a> added</li>
    <li>
        Bundle support added (<a href="/en/documentation/cli-phr/#phr-bundle">phr bundle</a>). 
        You can <a href="/en/documentation/articles/create-phrozn-bundle/">create your own bundle</a> and contribute it back.
    </li>
    <li>Phrozn <a href="https://github.com/farazdagi/phrozn-bundles">Bundles repository</a> created for user-contributed bundles.</li>
    <li>Better Front Matter extraction (bug fixed)</li>
    <li>Phrozn started using <a href="http://phing.info">Phing</a> for managing bundle builds.</li>
    <li>Table of Contents added to documentation pages (
        <a href="https://github.com/farazdagi/phrozn-site/blob/master/scripts/default.js">implementation</a>)</li>
</ul>

<p>Huge thanks to (in no particular order):</p>
<ul>
    <li>
        <a href="https://github.com/import">Osman Üngür</a>
        (<a href="http://twitter.com/#!/osmanungur">Twitter Account</a>)
    </li>
    <li><a href="https://github.com/sasezaki">Kazusuke Sasezaki</a></li>
    <li><a href="https://github.com/Grummfy">Jonathan Van Belle</a></li>
</ul>

<h2 id="ver-0.1">ver 0.1 </h2>
<div style="float:right"><i>10 Apr, 2011</i></div>
<p>
First usable version of Phrozn.</p> 
<p>Project stabilized (more or less) on ver 0.1.38. </p>
