permalink: /en/changelogs/
---
<h1 id="main">ChangeLogs</h1>
<p>To keep track on what has been introduced when, below is brief summary of version to version changes.
</p>

<h2 id="ver-0.2">ver 0.2</h2>
<div style="float:right"><i>25 June, 2011</i></div>
<ul>
    <li>Content providers added</li>
    <li>
        Bundle support added (<a href="/en/documentation/cli-phr/#phr-bundle">phr bundle</a>). 
        You can <a href="/en/documentation/articles/create-phrozn-bundle/">create your own bundle</a> and contribute it back.
    </li>
    <li>Phrozn <a href="https://github.com/farazdagi/phrozn-bundles">Bundles repository</a> created for user-contributed bundles.</li>
</ul>

<p>Huge thanks to (in no particular order):</p>
<ul>
    <li>Osman</li>
    <li>Hatena contrib</li>
    <li>Grumphy</li>
</ul>

<h2 id="ver-0.1">ver 0.1 </h2>
<div style="float:right"><i>10 Apr, 2011</i></div>
<p>
First usable version of Phrozn.</p> 
<p>Project stabilized (more or less) on ver 0.1.38. </p>
