permalink: /en/documentation/articles/getting-started/
---
<h1 id="main">Getting Started</h1>

<p>
    This guide should let you start with Phrozn in no time.
</p>

<h2 id="install">Installation</h2>
<p>
    Before you will be able to proceed, you need to install Phrozn. Please, make sure that you meet system requirements
    outlined on <a href="/en/installation/">Installation</a> page.
</p>

<h2 id="create-new-project">Your first Phrozn project</h2>
<p></p>
<h2 id="create-project-entries">Create some entries</h2>
<h2 id="project-compilation">Compile your project</h2>
<h2 id="project-update">Keep your project up to date</h2>
<h2 id="project-removal">Purge project</h2>
<h2 id="summary">Summary</h2>
<p>Let's summarize what you have learned so far.</p>

<p>
You create project using <code>phr init</code>, add some entries/styles/scripts, and compile everything with
<code>phr up</code>. Once you update some source file, you need to update static version of your site, again with
<code>phr up</code>.
</p>
<p>
Should you create project by mistake, it's always simple to purge it with <code>phr clobber</code>, and start over with
<code>phr init</code>.
</p>

<p>Need some samples? Check out git repository of <a href="http://github.com/farazdagi/phrozn-site">Phrozn's own site</a>.</p>
