permalink: /documentation/deployment/
---
<h1 id="main">Project Deployment</h1>
<p>Since Phrozn generates simple HTML pages as output, pushing project to your web host is <i>trivial</i>:
All you need to do is to copy contents of <code>site</code> folder.</p>

<p>
There are serveral ways, depending on your needs, to automate the process of deployment.
</p>

<h2 id="git-post-update">Git post-update Hook</h2>
<p>
You can automate the deployment by relying on git's <a href="http://www.kernel.org/pub/software/scm/git/docs/githooks.html#post-update">post-update</a> hook.
</p>
<p>
See <a href="/documentation/articles/deploy-using-git-post-update/">detailed walkthrough</a> on how to automate your deployment using post-update hook and GitHub.
</p>
