permalink: /documentation/
---

<h1 id="documentation">Documentation</h1>

<h2 id="core">Core Docs</h2>
<ul>
    <li><a href="/documentation/cli-phr/">Phrozn Command Reference</a></li>
    <li><a href="/documentation/front-matter/">Front-matter format</a></li>
    <li><a href="/documentation/site-config/">Site Configuration</a></li>
    <li><a href="/documentation/deployment/">Deployment</a></li>
    <li><a href="/documentation/markup-processors/">Supported Markup Processors</a></li>
</ul>

<h2 id="articles">Articles</h2>
<ul>
    <li><a href="/documentation/getting-started/">Getting Started with Phrozn</a></li>
    <li><a href="/documentation/deploy-using-git-post-update/">Deploy Phrozn site using git's post-hook</a></li>
</ul>
