layout: default.twig
---
<h1>Welcome!</h1>
<p>
Phrozn is static web-site generator written in PHP. 
</p>
<p>The idea is very simple:</p>
<p>
You write text files in your favorite format (Textile, Markdown, Twig etc), spice them with styles (again, in your
favorite format), feed all this to Phrozn, and it will compile files into static HTML web-site ready to be published.
</p>
<p>
Phrozn IS:<br />
<ul>
    <li><b>Extensible:</b> Don't like <a href="/documentation/processors/">default markup processors</a>? Create your own, it is easy!
    <li><b>Easy to use:</b> If you are not afraid of command line - you'll be able to use Phrozn effeciently in no time.</li>
    <li><b>Complete:</b> Supports input files in Twig, Textile, Markdown, LESS format</li>
</ul>
</p>


