<h1 id="installation">Installation</h1>
<p>Depending on your purposes there are several ways to install Phrozn:</p>
<p>
If you plan to extend Phrozn it is suggested to
fork official repository, otherwise installation via project's PEAR channel is the most easy way to proceed. Should you need raw sources,
you can have them too.</p>


<h2 id="pear-channel">Use PEAR Channel</h2>
<p>
To install, first register Phrozn official PEAR channel:
</p>
<pre>
    pear channel-discover pear.phrozn.info
</pre>

<p>Once channel is registered, you are ready to install Phrozn:</p>
<pre>
    pear install phrozn/Phrozn
</pre>
<p>That's it! Read <a href="/documentation/getting-started/">Getting Started</a> guide for a quick start.</p>

<h2 id="github-fork">Fork on GitHub</h2>
<p>Project's official repository is hosted on GitHub: <a href="http://github.com/farazdagi/phrozn">http://github.com/farazdagi/phrozn</a></p>

<h2 id="download">Download</h2>
<p>Download "master" branch in 
<a href="http://github.com/farazdagi/phrozn/tarball/master">.tar.gz</a> or in 
<a href="http://github.com/farazdagi/phrozn/zipball/master">.zip</a> format.</p>
